__pycache__/
*.py[cod]
*$py.class
*.so
.Python
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
__pypackages__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
output/
